body {
    --preset--color--base: #FFFF;
    --preset--color--base-2: #FBFDFF;
    --preset--color--contrast: #A4A4A4;
    --preset--color--contrast-2: #C6C6C6;
    --preset--color--contrast-3: #000000;
    --preset--color--accent: #7BA0FF;
    --preset--color--accent-2: #BED0FF;
    --preset--color--accent-3: #90A5CD;
    --preset--color--accent-4: #B8C5D4;
    --preset--color--accent-5: #262876;
}